# ────────── Аудио-ввод/вывод ──────────
sounddevice==0.4.6          # воспроизведение WAV
pvrecorder==1.2.7           # PortAudio wrapper без PVC

# ────────── Wake-word и STT ──────────
vosk==0.3.45                # оффлайновое RU-распознавание

# ────────── TTS ──────────
piper-tts==1.3.0            # + onnxruntime, numpy подтянутся автоматически

# ────────── Обработка текста / логика ──────────
rapidfuzz==3.6.1            # вместо python-Levenshtein
transliterate==1.10.2
num2words==0.5.13
# морфологический разбор русского языка
pymorphy2==0.9.1
#ruaccent==1.5.8.3

# ────────── Конфиги, загрузки, CLI ──────────
pyyaml==6.0.1
configparser==6.0.1
requests==2.32.4
keyboard==0.13.5

opencv-python==4.11.0.86   # или обычный opencv-python, если нужна отладочная графика
mediapipe
numpy>=1.26

pyserial==3.5
